body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.board-row:first-child .square {
  border-top-width: 0px;
}
.board-row:last-child .square {
  border-bottom-width: 0px;
}
.square:first-child {
  border-left-width: 0px;
}
.square:last-child {
  border-right-width: 0px;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 3px solid #000;
  float: left;
  font-size: 80px;
  font-weight: bold;
  line-height: 100px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: column;
}

.game-info {
  margin-left: 20px;
}

.highlight {
    background-color: yellow;
    color: red;
}

.game-title {
  width: 100%;
  font-size: 36px;
  text-align: center;
}

.game-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}