body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.board-row:first-child .cell {
  border-top-width: 0px;
}
.board-row:last-child .cell {
  border-bottom-width: 0px;
}
.cell:first-child {
  border-left-width: 0px;
}
.cell:last-child {
  border-right-width: 0px;
}

.cell {
  background: #fff;
  border: 3px solid #000;
  float: left;
  font-size: 80px;
  font-weight: bold;
  line-height: 100px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.cell:focus {
  outline: none;
}

.game {
  display: flex;
  flex-direction: column;
}

.game-info {
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
}

.highlight {
  background-color: yellow;
  color: red;
}

.game-title {
  width: 100%;
  font-size: 36px;
  text-align: center;
}

.game-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
